.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos th {
    background-color: #0e1e3f;
    color: #fff;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #ccc;
}

